# dependencies
**/node_modules/
.pnp
.pnp.*

# build caches
**/.next/
**/out/
**/dist/
**/build/
.sanity/

# environment variables
**/.env*

# debug and logs
**/*.log
.DS_Store
*.pem
*.tsbuildinfo

# dynamic data / databases
frontend/src/data/promos.json
frontend/src/data/registrations.json

